@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-size: cover;
}

/* #main {
    background: url("/konchord-background-65.jpg") no-repeat center center fixed;
    background-size: cover;
} */

@font-face {
    font-family: 'Anton';
    src: url('/fonts/Anton-Regular.ttf');
}

/**
 * Interface
 */
 .interface {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    pointer-events: none;
    font-family: 'Anton', sans-serif;
    z-index: 10;
}

/**
 * Interface askingToEnterPlanet
 */
 .interface .askingToEnterPlanet {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    color: white;
    font-size: 18px;
    padding-top: 5px;
    text-align: center;
    pointer-events: auto;
    cursor: pointer;
}

/**
 * Interface currentPlayer
 */
.interface .currentPlayer {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    color: white;
    font-size: 18px;
    padding-top: 5px;
    text-align: center;
    pointer-events: auto;
    cursor: pointer;
}

.joystick_zone {
    position: absolute;
    bottom: 0;
    width: 150px;
    height: 150px;
    font-family: 'Anton', sans-serif;
    z-index: 1000;
    bottom: 10px;
}

#joystick_zone_1 {
    left: 20px;
}
#joystick_zone_2 {
    right: 20px;
}

.audioInterface {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    font-family: 'Anton', sans-serif;
    z-index: 10;
}

.audioInterface .playMusicWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 16px;
    flex-direction: column;
    color: white;
}


/**
 * Interface selectCurrentOpponent
 */
 /* .interface .selectCurrentOpponent {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    color: white;
    font-size: 18px;
    padding-top: 5px;
    text-align: center;
    
} */